	#inputBox{
    display: none;
  }
  #inputChat{
    display: none;
  }
  .sendMsg{
    display:none
  }
#chatRoom{
	display: none;
}

#event {
	height: 500px;
	width: 100%
}

div.filters {
	margin-bottom: 20px;
}

div .login {
	display : inline-block;
	vertical-align: top;
}